.container-sections{
    font-size: 1.2rem;
    color: black;
    text-align: justify;
}

h2{
    color: #d9a138;
    text-align: center;
    font-weight: bold;
}
h3{
    color: #254382;
    font-weight: bold;
}

/* Panel */
.section-panel-background{
    background-color: #007bff; 
    opacity: 0.9;
}

.design-title{
    font-size: 11.5vw;
    text-align: center;
    text-shadow:black 0.1em 0.1em 0.2em;
    font-family: 'Fredoka One', cursive;
}

/* Coworking */
.section-coworking{
    background-color:#254382;
}

/* Cajas */
.section-caja-box{
    margin-bottom: 20px;
    
}

.card-text{
    color: black;
}

.section-caja-box-border{
    border: 2px dashed #254382;
}

/* Especialidades */
.service-box{
    text-align: center;
    margin-bottom: 45px;
}

.service-box i{
    font-size: 43px;
    margin-bottom: 20px;
    color: #d9a138;
}

.service-box i, .service-box h4{
    transition: 0.5s;
}

.service-box-title{
    font-size: 24px;
    margin-bottom: 15px;
}

.service-box:hover > i , .service-box:hover > h4 {
    color: #007bff;
}

/* Team*/
.profile h4{
    color: #d9a138;
    margin-top: 20px;
    font-weight: bold;
}

.profile h5{
    margin-top: 5px;
    font-weight: bold;
}

.profile .img-box{
    opacity: 1;
    position: relative;
}

.img-box:after{
    content: "";
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    right: 0px;
    left: 0;
    top: 0;
    bottom: 0;
}

.img-box ul{
    margin: 0;
    padding: 22px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; 
}
ul{
    list-style-type: none;
}
.img-box ul li {
    margin: 3px;
    padding: 7px; 
    display: inline-block;
}

.img-box ul li  i{
   font-size: 28px;
}

.img-box a{
    color: #fff;
}

.img-box:hover:after{
    opacity: 1;
}

.img-box:hover ul{
    opacity: 1;
}

.img-box a:hover li{
    color:#007bff;
    border:1px solid #007bff;
}

.img-box:after, .img-box ul, .img-box ul li {
    transition: all 0.5s ease-in-out 0s;
}

.container-team{
    margin-bottom: 100px;
}


