@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
header {
  background-color: #f3f3f3;
  padding: 0px;
}

.menuPrincipal {
  background-color: #254382;
  height: 60px;
}

.contenedor-uno {
  background-color: #464646;
}
.contenedor-uno p {
  font-size: 12px;
  color: #F3F3F3;
  font-weight: 600;
}
.contenedor-uno a {
  color: #F3F3F3;
}
.contenedor-uno a co {
  color: #F3F3F3;
}
.contenedor-uno a:hover {
  color: #d9a138;
}
@media (max-width: 986px) {
  .contenedor-uno p {
    text-align: center;
    margin: -5% px;
  }
}

.contenedor-dos {
  margin-top: 60px;
}
.contenedor-dos div a img {
  width: 230px;
}
.contenedor-dos .buscar input {
  height: 48px;
}
.contenedor-dos .lupa {
  background-color: #d9a138;
  width: 60px;
}
.contenedor-dos .lupa:hover {
  background-color: #254382;
}
.contenedor-dos .lupaa {
  color: #F3F3F3;
  font-weight: 900;
}
.contenedor-dos .conte-contac .contenedor-contac {
  display: flex;
}
.contenedor-dos .conte-contac .contenedor-contac .contac2 .btn-carrito {
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-right: 20px;
  color: #F3F3F3;
  background-color: #254382;
}
.contenedor-dos .conte-contac .contenedor-contac .contac2 .btn-carrito i {
  height: 80px;
}
.contenedor-dos .conte-contac .contenedor-contac .btn-carrito:hover {
  background-color: #d9a138;
}
.contenedor-dos .conte-contac .contenedor-contac .raya {
  background-color: #464646;
  height: 70px;
}
.contenedor-dos .conte-contac .contenedor-contac .contac2 {
  margin-left: 20px;
  margin-top: 15px;
}
.contenedor-dos .conte-contac .contenedor-contac .contac2 a {
  font-size: 18px;
  text-decoration: none;
  color: #464646;
}
@media (max-width: 576px) {
  .contenedor-dos .conte-contac {
    margin-right: 100pxx;
  }
  .contenedor-dos .imm {
    text-align: center;
  }
}
@media (max-width: 100px) {
  .contenedor-dos .contac2 {
    order: -2;
  }
}
.topbar{
    --bs-gutter-x: 0 !important;
}

.navbar {
  background-color: #254382;
  margin-bottom: -8px !important;
}
.navbar .nab {
  margin-left: 50px;
}
.navbar .nav-colo {
  color: #F3F3F3 !important;
}
.navbar .eee {
  color: #F3F3F3 !important;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.navbar .eee:hover {
  background-color: #d9a138 !important;
  border-radius: 15px;
  width: 100%;
  color: #464646 !important;
  font-weight: 900;
  text-align: center;
}
.navbar .activooo {
  background-color: #d9a138;
  border-radius: 15px;
  width: 100%;
  color: #464646 !important;
  font-weight: 900;
  text-align: center;
  color: #F3F3F3 !important;
}
.navbar .sub-lista {
  background-color: #ebebeb;
}
.navbar .nav-colo-dos {
  color: #464646;
}

.container-portada {
  width: 100%;
  height: 580px;
  position: relative;
  background-image: url(../Img/carrusel/5.jpg);
  background-size: 200%;
  animation: movimiento 20s infinite linear alternate;
}

.container-portadaa {
  width: 100%;
  height: 580px;
  position: relative;
  background-image: url(../Img/carrusel/8.jpg);
  background-size: 200%;
  animation: movimiento 20s infinite linear alternate;
}

.container-portadaaa {
  width: 100%;
  height: 580px;
  position: relative;
  background-image: url(../Img/carrusel/3.jpg);
  background-size: 200%;
  animation: movimiento 20s infinite linear alternate;
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
.capa-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-linear-gradient(left, black, #0672d0);
  opacity: 0.5;
}

.container-details {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.details {
  width: 100%;
  max-width: 500px;
  position: relative;
  top: 80px;
  color: #F3F3F3;
}

.rebajasuno {
  margin-left: 400px;
}

.rebajasdos {
  margin-left: 650px;
}

.descuentotres {
  margin-left: 650px !important;
}

.details h1 {
  font-size: 40px;
  font-weight: 100;
  margin-left: 10px;
  color: #F3F3F3;
}

.details p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}

.details button {
  padding: 10px 20px;
  font-size: 16px;
  background: none;
  border-style: none;
  border: 1px solid #F3F3F3;
  color: #F3F3F3;
  margin-top: 20px;
  transition: background 300ms;
  cursor: pointer;
  margin-left: 10px;
}

.details button:hover {
  color: #464646;
  background-color: #d9a138;
}

@media screen and (max-width: 500px) {
  .details p {
    font-size: 18px;
  }
}
.container-fluid {
  padding: 0px !important;
  padding-top: 0px;
  margin-top: 0px;
}

.carrufuentes {
  font-weight: 400 !important;
}

.eand {
  background: rgba(0, 0, 0, 0.5);
  padding-top: 10px !important;
  text-align: center;
  height: 80px;
  border-radius: 20px;
}

.eandd {
  background: rgba(0, 0, 0, 0.75);
  padding-top: 10px !important;
  text-align: center;
  height: 130px;
  border-radius: 20px;
}

.diejmassdimg {
  height: 150px;
  width: 15%;
}
